rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {

    function isSignedIn() {
      return request.auth != null;
    }

    match /blocos/{blocoId} {
      allow read, write: if isSignedIn();
    }

    match /setores/{setorId} {
      allow read, write: if isSignedIn();
    }

    match /salas/{salaId} {
      allow read, write: if isSignedIn();
    }

    match /patrimonios/{patrimonioId} {
      allow read, write: if isSignedIn();

      // Regra para o histórico individual (sub-coleção)
      match /log_especifico/{logId} {
        allow read, create: if isSignedIn();
        allow update, delete: if false; // Imutável
      }
    }

    // Regra para o log geral do dashboard (coleção principal)
    match /log_geral/{logId} {
      allow list, create: if isSignedIn();
      allow get, update, delete: if false;
    }
  }
}
