rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {

    function isSignedIn() {
      return request.auth != null;
    }

    match /blocos/{blocoId} {
      allow read, write: if isSignedIn();
    }

    match /setores/{setorId} {
      allow read, write: if isSignedIn();
    }

    match /salas/{salaId} {
      allow read, write: if isSignedIn();
    }

    match /patrimonios/{patrimonioId} {
      allow read, write: if isSignedIn();
      
      // Regra para escrita na subcoleção (imutável)
      match /movimentacoes/{movimentacaoId} {
        allow create, delete: if isSignedIn();
        allow update: if false; 
      }
    }
    
    // Regra para a consulta collectionGroup do Dashboard
    match /{path=**}/movimentacoes/{movimentacaoId} {
      allow read: if isSignedIn();
    }
  }
}
