@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 216 67% 98%; /* #F4F7FC */
    --foreground: 0 0% 20%; /* #333333 */
    --card: 0 0% 100%; /* #FFFFFF */
    --card-foreground: 0 0% 20%; /* #333333 */
    --popover: 0 0% 100%; /* #FFFFFF */
    --popover-foreground: 0 0% 20%; /* #333333 */
    --primary: 206 100% 24%; /* #00447C */
    --primary-foreground: 0 0% 98%;
    --secondary: 211 100% 50%; /* #007BFF */
    --secondary-foreground: 0 0% 98%;
    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;
    --accent: 203 100% 61%; /* #38B6FF */
    --accent-foreground: 206 100% 24%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 210 17% 90%; /* #dee2e6 */
    --input: 210 17% 90%;
    --ring: 211 100% 50%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 0 0% 7%; /* #121212 */
    --foreground: 0 0% 88%; /* #E0E0E0 */
    --card: 0 0% 12%; /* #1E1E1E */
    --card-foreground: 0 0% 88%;
    --popover: 0 0% 12%;
    --popover-foreground: 0 0% 88%;
    --primary: 206 100% 70%;
    --primary-foreground: 206 100% 10%;
    --secondary: 211 100% 60%;
    --secondary-foreground: 0 0% 98%;
    --muted: 220 10% 15%;
    --muted-foreground: 220 10% 45%;
    --accent: 203 100% 61%; /* #38B6FF */
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 27%; /* #444444 */
    --input: 0 0% 27%;
    --ring: 211 100% 60%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground font-body;
    font-feature-settings: "cv02", "cv03", "cv04", "cv11";
  }
}
